{% extends "base.njk" %}

{% block metaStuff%}
	<title>Search</title>
{% endblock %}

{% block main %}
	<section class="main-content">
		<div class="input-box">
			<input type="text" id="search-bar" name="searchText" required>
			<label><i class="fas fa-search"></i> Search For Users</label>
		</div>
	</section>

	<section class="main-content">
		<div id="usernameList">
			
		</div>
	</section>
{% endblock %}

{% block script %}
<script>
	var search = document.getElementById('search-bar');
	var usernameListElem = document.getElementById("usernameList");
	var usernames = '{{usernames}}'.split(',');		// takes an array of strings then splits them by every ','
	// JSON.parse('{{obj}}'.replace(/&quot;/g,'"'))		in the case of taking in a json object

	document.getElementById("search-bar").value = "";

	async function getUserNames(searchText) {
		var matches = usernames.filter(username => {
			const regex = new RegExp(`^${searchText}`,`gi`);
			return username.match(regex);
		});

		if(searchText.length == 0) {
			matches = [];
			usernameListElem.innerHTML = " ";
			return;
		}
		outputHTML(matches);
	}

	const outputHTML = matches => {
		if (matches.length > 0) {
			var html = matches.map(match => 
				`
					<a class="search-result" href="/api/search/${match}">${match}</a> 
				`
				).join(" ");
			usernameList.innerHTML = html;
		} else {
			usernameList.innerHTML = "no users with that name";
		}
	}

	search.addEventListener('input', () => getUserNames(search.value));
</script>
{% endblock %}